[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = http://github.com/yurifury/hexHighlight.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = http://github.com/roman/rainbow.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/tsaleh/vim-matchit.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = http://github.com/int3/vim-extradite.git
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = http://github.com/Shougo/vimshell.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = http://github.com/Shougo/vimproc
[submodule "bundle/unite"]
	path = bundle/unite
	url = http://github.com/Shougo/unite.vim.git
[submodule "bundle/neocomplcache-ghc"]
	path = bundle/neocomplcache-ghc
	url = http://github.com/ujihisa/neco-ghc.git
[submodule "bundle/quickrun"]
	path = bundle/quickrun
	url = http://github.com/thinca/vim-quickrun.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = http://github.com/bdd/vim-scala.git
[submodule "bundle/repl"]
	path = bundle/repl
	url = http://github.com/ujihisa/repl.vim.git
[submodule "bundle/vim-ref"]
	path = bundle/vim-ref
	url = http://github.com/thinca/vim-ref.git
[submodule "bundle/ref-hoogle"]
	path = bundle/ref-hoogle
	url = http://github.com/ujihisa/ref-hoogle.git
[submodule "bundle/neco-look"]
	path = bundle/neco-look
	url = https://github.com/ujihisa/neco-look.git
[submodule "bundle/happy"]
	path = bundle/happy
	url = http://github.com/vim-scripts/happy.vim
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = http://github.com/johnbintz/vim-puppet.git
[submodule "bundle/clojure"]
	path = bundle/clojure
	url = http://github.com/roman/VimClojure.git
[submodule "bundle/textobj-indent"]
	path = bundle/textobj-indent
	url = http://github.com/kana/vim-textobj-indent.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = http://github.com/kana/vim-textobj-user.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-localrc"]
	path = bundle/vim-localrc
	url = http://github.com/thinca/vim-localrc.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "bundle/golden-ratio"]
	path = bundle/golden-ratio
	url = http://github.com/roman/golden-ratio
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
